<!-- Это не настоящее приложение, а рыба для тестового задания -->

<div class="container-lg">

  <h1 class="my-3">Посещение и питание</h1>

  <!-- Компонент для тестового задания -->
  <app-children-bar [child]="children[0]"></app-children-bar>

  <div class="card my-3">
    <div class="card-body p-4">
      <p class="opacity-25" *ngFor="let _ of [].constructor(20)">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-8"></span>
        <span class="placeholder col-10"></span>
      </p>
    </div>
  </div>

</div>
